.headerContainer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c5c5c5;
  padding: 8px 24px;
}

.homeHeader {
  font-size: 32px;
}
